{% load static %}
<html>
<head>
<title>home</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<header>
<div id="row">
<ul>
	<center>
<li><a href="" class="login-btn">Login</a>
	<ul>
		<li><a href="/Home/show_student_login">Student_Login</a></li>
		<li><a href="/Home/show_parent_login">Parent_Login</a></li>
		<li><a href="/Home/show_teacher_login">Teacher_Login</a></li>
	</ul>
</li>

<li><a href="">Register</a>
	<ul>
		<li><a href="student_register.html">Student_Register</a></li>
		<li><a href="parent_register.html">Parent_Register</a></li>
		<li><a href="teacher_register.html">Teacher_Register</a></li>
	</ul>
</li>
    </center>
</ul>
</div>
</header>
</body>


</html>
