{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title>Mark_Update</title>
</head>
<body><center>
<div class="main">
        <h2>Mark_Update</h2>
    <form>
        <div class="input">
        <label>enroll_no</label>
		<input type="text" name="enroll_no"></div>
        <div class="input">
		<label>subject</label>
		<input type="text" name="subject"></div>
        <div class="input">
		<label>marks</label>
		<input type="text" name="marks"></div>
        <div class="input">
        <input type="submit" value="submit"></div>
    </form>
    </div>
    </center>
</body>
</html>