{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Student</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<form onsubmit="student/">

    <a href="input_subject/" onclick="submit" >study material </a><br/>
    <a href="discussion_form/"  onclick="submit">Discussion form </a><br/>
    <a href="result/"  onclick="submit">Result </a><br/>
</form>
</body>
</html>