<html lang="en">
<head>
    <title>Dashboard, Teacher</title>
</head>
<body>
    <div style="border: 2px solid black">

        <form action="/Teacher/study_material">
           To add study material: <input type="submit" value=" click here ">
        </form>
        <br/>
        To previous study material: <a href="/Teacher/study_material_view.html" >click here</a>
        <br/>
        <form action="/Teacher/answer_question">
            <input type="hidden" name="teacher_id" value="{{ teacher_id }}"/>
            <input type="submit" />
        </form>
    </div>
</body>
</html>